body .blogMain .blogUno, body .blogMain .blogDos {
  border: solid 0.2rem whitesmoke;
  border-radius: 1rem;
  background-color: #E4E4E4;
  color: #0E1523;
  margin: 2rem;
  padding: 1rem; }

body .equipoMain .perfiles .santi, body .equipoMain .perfiles .andrea {
  background-color: #E4E4E4;
  color: #0E1523;
  border-radius: 1em;
  margin: 1em 0em;
  padding: 1em 0.3em;
  text-align: center;
  width: 24rem;
  height: 33rem;
  justify-self: end; }

@keyframes example {
  0% {
    background-color: #0E1523; }
  25% {
    background-color: #162136; }
  50% {
    background-color: #2f4571; }
  100% {
    background-color: #4061a2; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #0E1523;
  color: #E4E4E4;
  font-family: "Nunito Sans"; }
  body header {
    width: 100%;
    height: 20%;
    z-index: 1;
    background-color: #FFBC2C;
    color: #0E1523;
    font-family: 'Archivo Narrow';
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    margin: 0em;
    padding: 1em; }
    body header a:link {
      color: #0e1523; }
    body header a:visited {
      color: #0e1523; }
    body header h1 {
      margin: 0em;
      padding: 0em 0em 0em 1em;
      font-size: 1.7em; }
      body header h1:hover {
        transform: scale(1.2);
        transition: 0.5s; }
      body header h1 a {
        text-decoration: none; }
    body header nav ul li {
      display: inline-block;
      font-weight: 200; }
      body header nav ul li a {
        list-style-type: none;
        text-decoration: none;
        margin: 1em;
        padding: 0.5em; }
        body header nav ul li a:hover {
          background-color: #E4E4E4;
          transform: scale(1.1);
          transition: 0.3s;
          box-shadow: 0.0625em 0.0625em 0.625em #0e1523;
          border-radius: 0.3125em;
          font-weight: bolder;
          margin: 1em;
          padding: 0.6em 1em; }
          @media only screen and (max-width: 600px) {
            body header nav ul li a:hover {
              transform: scale(0.7);
              display: flex;
              flex-wrap: wrap; } }
  body .indexMain {
    height: 100vh;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 600px) {
      body .indexMain {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column; } }
    body .indexMain .indexH1 {
      font-size: 3rem;
      text-align: center;
      margin: 1rem;
      padding: 2rem; }
      @media only screen and (max-width: 600px) {
        body .indexMain .indexH1 {
          font-size: 2rem; } }
    body .indexMain img {
      height: auto;
      width: 80%;
      justify-content: center;
      text-align: center;
      margin-left: 4rem; }
      @media only screen and (max-width: 600px) {
        body .indexMain img {
          margin-left: 2rem; } }
    body .indexMain .indexMain2div {
      display: flex;
      flex-direction: column;
      align-self: center;
      margin: 6rem;
      padding: 2rem; }
      @media only screen and (max-width: 600px) {
        body .indexMain .indexMain2div {
          margin: 2rem;
          padding: 1rem; } }
    body .indexMain p {
      text-align: justify;
      font-size: 1.2rem; }
      @media only screen and (max-width: 600px) {
        body .indexMain p {
          font-size: 1rem; } }
  body .equipoMain {
    height: 100vh; }
    body .equipoMain h1 {
      margin: 1rem;
      padding: 2rem;
      display: inline-block;
      font-size: 3rem;
      font-weight: bolder;
      width: auto;
      display: flex;
      justify-content: space-around;
      align-items: center; }
    body .equipoMain h2 {
      margin-top: 1em; }
    body .equipoMain img {
      width: 15rem;
      height: 15rem;
      margin-top: 2rem;
      border-radius: 1em; }
      @media only screen and (max-width: 600px) {
        body .equipoMain img {
          width: 12rem;
          height: 12rem; } }
    body .equipoMain .perfiles {
      display: flex;
      gap: 3em;
      justify-content: center;
      margin: 1rem;
      padding: 0rem; }
      @media only screen and (max-width: 600px) {
        body .equipoMain .perfiles {
          width: auto;
          display: flex;
          flex-direction: column;
          align-items: center; } }
      @media only screen and (max-width: 600px) {
        body .equipoMain .perfiles .santi {
          width: 18rem;
          height: 30rem;
          text-align: center; } }
      @media only screen and (max-width: 600px) {
        body .equipoMain .perfiles .andrea {
          width: 18rem;
          height: 28rem;
          text-align: center; } }
  body .serviciosMain {
    z-index: 0; }
    body .serviciosMain h1 {
      margin: 1rem;
      padding: 2rem;
      display: inline-block;
      font-size: 3rem;
      font-weight: bolder;
      display: flex;
      justify-content: center; }
    body .serviciosMain .row {
      display: flex;
      justify-content: center; }
    body .serviciosMain .card {
      margin: 2rem;
      padding: 1rem;
      display: flex;
      justify-content: center;
      text-align: justify; }
      body .serviciosMain .card img {
        padding: 2rem; }
      body .serviciosMain .card h5 {
        color: #0e1523;
        font-weight: bolder;
        text-align: center; }
      body .serviciosMain .card p {
        color: #0e1523; }
      body .serviciosMain .card a {
        display: flex;
        justify-content: center; }
  body .blogMain {
    background-color: #0e1523; }
    @media only screen and (max-width: 600px) {
      body .blogMain {
        display: flex;
        flex-direction: column; } }
    body .blogMain h1 {
      margin: 1rem;
      padding: 2rem;
      display: inline-block;
      font-size: 3rem;
      font-weight: bolder;
      display: flex;
      justify-content: center; }
    body .blogMain .blogsAB {
      display: flex; }
      @media only screen and (max-width: 600px) {
        body .blogMain .blogsAB {
          display: flex;
          flex-direction: column; } }
    body .blogMain p, body .blogMain h2 {
      text-align: justify;
      padding: 0rem 2rem; }
    body .blogMain h2 {
      text-align: center;
      padding: 0rem 2rem;
      font-size: 1.2rem;
      padding: 1rem; }
    body .blogMain .imagenBlog {
      width: 80%;
      border: gray solid 0.1rem;
      border-radius: 4%;
      margin: 1rem;
      padding: 0rem; }
  body .repositorio h2 {
    background-color: #0e1523;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    text-align: center;
    border-radius: 2rem;
    padding: 1rem 0rem;
    font-size: 2rem;
    margin: 0rem 2rem 1rem 2rem; }
    @media only screen and (max-width: 600px) {
      body .repositorio h2 {
        font-size: 1.5rem; } }
  body .repositorio p {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 1rem; }
    body .repositorio p:hover {
      transform: scale(1.1);
      box-shadow: 0.0625em 0.0625em 0.625em whitesmoke;
      transition: 0.3s; }
  body .contactanosMain {
    height: 100vh;
    align-items: center;
    display: flex;
    /* DONDE ENCONTRARNOS */ }
    @media only screen and (max-width: 600px) {
      body .contactanosMain {
        height: auto; } }
    body .contactanosMain .contactanosFormulario {
      width: 60%;
      margin: 2rem;
      padding: 1.2rem; }
      @media only screen and (max-width: 600px) {
        body .contactanosMain .contactanosFormulario {
          width: 90%;
          margin: 2rem; } }
      body .contactanosMain .contactanosFormulario h1 {
        font-size: 3rem; }
        @media only screen and (max-width: 600px) {
          body .contactanosMain .contactanosFormulario h1 {
            font-size: 2rem; } }
      body .contactanosMain .contactanosFormulario .contactanosFormulario input, body .contactanosMain .contactanosFormulario select, body .contactanosMain .contactanosFormulario datalist, body .contactanosMain .contactanosFormulario textarea {
        width: 90%;
        margin-left: 2rem; }
      body .contactanosMain .contactanosFormulario fieldset {
        padding: 1rem;
        color: whitesmoke; }
      body .contactanosMain .contactanosFormulario .imgContactanos {
        width: 3rem;
        margin-left: 1.25rem; }
        @media only screen and (max-width: 600px) {
          body .contactanosMain .contactanosFormulario .imgContactanos {
            width: 1.5rem; } }
    body .contactanosMain .contactanosDatos {
      height: 60%;
      background-color: #E4E4E4;
      color: #0E1523;
      border-radius: 0.625rem;
      margin: 0rem;
      padding: 1.25rem; }
      @media only screen and (max-width: 600px) {
        body .contactanosMain .contactanosDatos {
          margin-bottom: 2rem;
          width: 80%; } }
      body .contactanosMain .contactanosDatos ul li {
        list-style-type: none; }
      body .contactanosMain .contactanosDatos .imgMedia {
        width: 0.9375rem;
        margin-right: 0.625rem;
        margin-left: 2.5rem; }
      body .contactanosMain .contactanosDatos .googleMap {
        width: 90%;
        border: 0;
        margin: 1.25rem; }
    @media only screen and (max-width: 560px) {
      body .contactanosMain {
        display: flex;
        flex-direction: column; } }
  body footer {
    background-color: #FFBC2C;
    color: #0E1523;
    font-family: 'Archivo Narrow';
    margin: 0em;
    padding: 1.2em;
    text-align: center; }
